<hr class="m-0" />
<!-- Education-->
<section class="resume-section" id="education">
  <div class="resume-section-content">
    <h2 class="mb-5">Education</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">University of Illinois Chicago</h3>
        <div class="subheading mb-3">Doctor of Philosophy - PhD</div>
        <div>Computer Science - Data Visualization Track</div>
        <p>GPA: 4.00 (Continuing)</p>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">August 2019 - Present</span>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">University of Illinois Chicago</h3>
        <div class="subheading mb-3">Master of Science - MS</div>
        <div>Computer Science</div>
        <p>GPA: 4.00</p>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">May 2025</span>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-grow-1">
        <h3 class="mb-0">BRAC University</h3>
        <div class="subheading mb-3">Bachelor's Degree</div>
        <div>Computer Science and Engineering</div>
        <p>GPA: 3.57</p>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">September 2013 - December 2017</span>
      </div>
    </div>
  </div>
</section>
