<hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Intern (Graduate Student)</h3>
                            <div class="subheading mb-3">Data Science at Scale Group, Los Alamos National Laboratory (LANL), Los Alamos, NM</div>

                            <!-- fas fa-caret-right -->
                            <ul class="fa-ul mb-0">
                                <li>
                                    <p class="mb-0">
                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                        Developed and prototyped a web-based visual analytics tool to enable comparative analysis of multiple 3D genome
                                        structures, enhancing research capabilities.
                                    </p>
                                </li>

                                <li>
                                    <p class="mb-0">
                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                        Conducted comprehensive analyses of spatiotemporal multivariate genome data, extracting gene features to support
                                        domain experts in their investigations.
                                    </p>
                                </li>

                                
                            </ul>
                        </div>
                        <div class="flex-shrink-0">
                            <span class="text-primary">June 2024 - August 2024</span>                             
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Research Intern</h3>
                            <div class="subheading mb-3">Data Analysis and Visualization Group, National Renewable Energy Laboratory (NREL), Golden, CO</div>

                            <!-- fas fa-caret-right -->
                            <ul class="fa-ul mb-0">
                                <li>
                                    <p class="mb-0">
                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                        Performed detailed analysis of genomic data and designed a prototype for visualizing large 3D genome structures,
                                        improving data accessibility and insight generation.
                                    </p>
                                </li>

                                <li>
                                    <p class="mb-0">
                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                        Enhanced and added features to existing data visualization tool to uncover patterns in temporal datasets.
                                    </p>
                                </li>

                                
                            </ul>
                        </div>
                        <div class="flex-shrink-0">
                            <span class="text-primary">May 2023 - August 2023</span>                             
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Graduate Research Assistant</h3>
                            <div class="subheading mb-3">Electronic Visualization Laboratory, UIC</div>

                            <ul class="fa-ul mb-0">
                                <li>
                                    <p class="mb-0">
                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                        Conducted research focused on visual data science in oncology, neurosurgery, and computational fluid dynamics,
                                        contributing to the advancement of the field.
                                    </p>
                                </li>

                                <li>
                                    <p class="mb-0">
                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                        Designed, prototyped, developed, and evaluated visual analytics systems in collaboration with various domain
                                        experts, driving innovation and application in real-world scenarios.
                                    </p>
                                </li>

                                
                            </ul>

                        <br/>

                            <h4 class="mb-0">Projects Worked/Working:</h4>

                            <!-- fas fa-caret-right -->
                            <ul class="fa-ul mb-0">
                                <li>
                                    <p class="mb-0">
                                            <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                            <a href="javascript: return false;" >Comparative Analysis of 3D Genome Structures</a> <br/>

                                            <ul class="fa-ul mb-0">
                                                <li>
                                                    <p class="mb-0">
                                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                                        Conducted analysis of raw genomic experimental data and molecular dynamics simulations to extract structural
                                                        insights.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="mb-0">
                                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                                        Developed a web-based visualization tool for comparing and exploring multiple genome structures and their
                                                        features in 3D space.
                                                    </p>
                                                </li>
                                            </ul>
                                    </p>
                                </li>

                                <li>
                                    <p class="mb-0">
                                            <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                            <a href="javascript: return false;" >Visualizing Data from Wearable Devices for Apnea & Sarcopenia Detection</a> <br/>

                                            <ul class="fa-ul mb-0">
                                                <li>
                                                    <p class="mb-0">
                                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                                        Developed a visual analytics framework to support biomedical researchers and oncology clinicians in the early
                                                        detection of cachexia (weight loss), sarcopenia (loss of lean muscle mass), and apnea (breathing cessation during
                                                        sleep) in head and neck cancer patients in treatment.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="mb-0">
                                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                                        Developed a system for retrieving user data from Fitbit smartwatches and Withings smart scales, allowing for
                                                        continuous monitoring of patient health metrics in real-time, and visualizing multivariate temporal data through an
                                                        interactive web-based interface.
                                                    </p>
                                                </li>
                                            </ul>
                                    </p>
                                </li>

                                <li>
                                    <p class="mb-0">
                                            <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                            <a href="https://www.evl.uic.edu/events/2775" target="_blank" >Analysis of Human Brain Epilepsy Data</a> <br/>

                                            <ul class="fa-ul mb-0">
                                                <li>
                                                    <p class="mb-0">
                                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                                        Conducted in-depth analysis of complex multivariate spatiotemporal epilepsy ensemble data– Mapped electrode
                                                        information onto the 3D models of the brain surface, developed tailored visual encodings to illustrate spike
                                                        propagation and brain electrical activities, and integrated tumor data into the brain model using a web-based
                                                        platform.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="mb-0">
                                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                                        Utilized dynamic community analysis algorithm and custom algorithms to extract spatial regions and generated 2D
                                                        snapshots from 3D grid data, enhancing the interpretability of spatial patterns in neural activity.
                                                    </p>
                                                </li>
                                            </ul>
                                    </p>
                                </li>

                                <li>
                                    <p class="mb-0">
                                            <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                            <a href="https://www.evl.uic.edu/entry.php?id=2469" target="_blank">High-performance computing and data-driven modeling of aircraft contrails</a> <br/>

                                            <ul class="fa-ul mb-0">
                                                <li>
                                                    <p class="mb-0">
                                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                                        Conducted comprehensive analysis of contrail ensemble data, focusing on their characteristics and temporal
                                                        evolution, utilizing a digital twin system for advanced aircraft engine simulations; employed techniques such as
                                                        volume rendering and 3D/2D data visualization for enhanced parameter analysis.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="mb-0">
                                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                                        Developed novel custom machine learning algorithms to detect and analyze contrail spatial shapes and structures,
                                                        track their temporal evolution, and identify similar patterns among ensemble members.
                                                    </p>
                                                </li>
                                            </ul>
                                    </p>
                                </li>

                                <li>
                                    <p class="mb-0">
                                            <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                            <a href="https://fmiranda.me/research/#3d-analytics" target="_blank">Urban Navigation (Urban Toolkit)</a> <br/>

                                            <ul class="fa-ul mb-0">
                                                <li>
                                                    <p class="mb-0">
                                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                                        Developed a prototype for an urban toolkit designed for various platforms including Web, Jupyter, and CAVE2,
                                                        aimed at enhancing urban navigation and user experience.
                                                </li>
                                            </ul>
                                    </p>
                                </li>

                                <li>
                                    <p class="mb-0">
                                            <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                            <a href="https://www.evl.uic.edu/entry.php?id=2333" target="_blank">QuBBD: Precision E-Radiomics for Dynamic Big Head & Neck Cancer Data</a> <br/>

                                            <ul class="fa-ul mb-0">
                                                <li>
                                                    <p class="mb-0">
                                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                                        Developed an advanced visualization system to enhance survival prediction for head and neck cancer patients,
                                                        utilizing cohort-based similarity analysis to identify trends and improve patient outcomes.
                                                </li>
                                            </ul>
                                    </p>
                                </li>

                                <li>
                                    <p class="mb-0">
                                            <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                            <a href="javascript: return false;">CAVE2 Airport Control Simulator (Video Game Design Course Project)</a> <br/>

                                            <ul class="fa-ul mb-0">
                                                <li>
                                                    <p class="mb-0">
                                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                                        Developed a sophisticated traffic control simulator game for the CAVE2 virtual reality theater, facilitating the
                                                        efficient and safe routing of arriving and departing aircraft.
                                                </li>
                                            </ul>
                                    </p>
                                </li>

                                <li>
                                    <p class="mb-0">
                                            <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                            <a href="javascript: return false;">Identifying Similarities and Dissimilarities Between UIC/MDACC RT Plan Data</a> <br/>

                                            <ul class="fa-ul mb-0">
                                                <li>
                                                    <p class="mb-0">
                                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                                        Developed a visualization system to analyze and compare similarities and dissimilarities among head and neck
                                                        cancer patients at UIC and MDACC as part of a Visual Data Science course project.
                                                </li>
                                            </ul>
                                    </p>
                                </li>

                                <!-- <li>
                                    <p class="mb-0">
                                            <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                            <a href="" target="_blank">Human Identification Using WiFi Signal (Undergraduate Thesis)</a>
                                    </p>
                                </li> -->
                                
                            </ul>
                        </div>
                        <div class="flex-shrink-0">
                            <span class="text-primary">January 2020 - December 2020</span> <br/>
                            <span class="text-primary">May 2021 - May 2023</span> <br/>    
                            <span class="text-primary">August 2024 - Present</span> <br/>                        
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Graduate Teaching Assistant</h3>
                            <div class="subheading mb-3">Univeristy of Illinois Chicago</div>

                            <ul class="fa-ul mb-0">
                                <li>
                                    <p class="mb-0">
                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                        Led instructional efforts in Computer Design, Video Game Design, and UI Design courses, fostering a strong
                                        learning environment for students.
                                    </p>
                                </li>

                                <li>
                                    <p class="mb-0">
                                        <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                                        Facilitated office hours, conducted lab presentations, graded assignments, and created hands-on tutorials, actively
                                        engaging students in the learning process.
                                    </p>
                                </li>

                                
                            </ul>
                            
                            <br/>
                            <p>CS426 - Video Game Design: CS 426 covers tools and techniques for 
                                the design and implementation of 3D interactive video games.
                                 The emphasis of this course is on the game design process,
                                  integration of art content into an existing game engine, 
                                  programming and software development, team-work, and 
                                  developing a fully-fledged game by the end of the course.
                                   In the 2021 edition of the course, computer science 
                                   students work in small teams to quickly prototype 
                                   a series of 3D games throughout the term.</p> <br/>

                            <p>CS 422 - User Interface Design and Programming: User interface design, implementation, 
                                and evaluation; user-centered design methodologies,
                                 windowing systems, I/O devices and techniques, event-loop 
                                 programming, user studies.</p> <br/>
                            <p>CS362 - Computer Design : Computer hardware building blocks. 
                                logic gates; combinational circuits; arithmetic circuits; 
                                flip flops and sequential circuits; registers and memory; 
                                CPU design; I/O design.</p>
                        </div>
                        <div class="flex-shrink-0">
                            <span class="text-primary">August 2019 - December 2019</span><br/> 
                            <span class="text-primary">January 2021 - May 2021</span><br/>
                            <span class="text-primary">August 2023 - December 2023</span><br/>
                            <span class="text-primary">January 2024 - May 2024</span>                            
                        </div>
                        
                    </div>
                </div>
            </section>