    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>
      Md Nafiul Alam Nipu | PhD Candidate in Computer Science | Data Visualization
    </title>
    <meta
      name="description"
      content="Official website of Md Nafiul Alam Nipu, a PhD Candidate in Computer Science at the University of Illinois Chicago focused on data visualization, visual computing, and human-centered AI."
    />
    <meta
      name="keywords"
      content="Md Nafiul Alam Nipu, Nafiul Alam Nipu, Nafiul Nipu, data visualization, visual computing, human-centered AI, PhD Candidate, University of Illinois Chicago, EVL"
    />
    <meta name="author" content="Md Nafiul Alam Nipu" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://nafiul-nipu.github.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Md Nafiul Alam Nipu" />
    <meta
      property="og:description"
      content="PhD Candidate in Computer Science at UIC building interactive systems for biomedical, environmental, and urban data."
    />
    <meta property="og:url" content="https://nafiul-nipu.github.io/" />
    <meta
      property="og:image"
      content="https://nafiul-nipu.github.io/assets/img/profile2.jpg"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Md Nafiul Alam Nipu" />
    <meta
      name="twitter:description"
      content="PhD Candidate in Computer Science at UIC focused on data visualization, visual computing, and human-centered AI."
    />
    <meta
      name="twitter:image"
      content="https://nafiul-nipu.github.io/assets/img/profile2.jpg"
    />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css"
    />
    <script
      src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli:400,400i,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/myStyles.css" />
