<div class="subheading mb-4">Research Projects</div>
<div class="row">
  <!-- 7 epilepsy -->
  <div class="col-lg-6 mb-3 d-flex align-items-stretch">
    <div class="card">
      <div class="imgContainer">
        <img
          src="./assets/projectImg/epilepsy.png"
          class="card-img-top"
          alt="..."
          id="theImage"
        />
        <div class="middle">
          <div class="theText">
            <a
              href="https://github.com/nafiul-nipu/brain-epilepsy-interface-react"
              target="_blank"
              class="btn btn-secondary"
              >Github</a
            >
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Neurosurgery Network Pattern Analysis</h5>
        <p class="card-text">
          A visual computing system to explore spatiotemporal epilepsy ensemble
          data.
          <!-- <a
            href="../assets/video-demos/epilepsy-Introduction-Main-Video.mp4"
            target="_blank"
            >More details about the project</a
          >. -->
          <br />
          <strong>Skills: </strong> HTML, CSS, JS, React.js, D3.js, Three.js,
          Python
        </p>
        <!-- <a
          href="../assets/video-demos/epilepsy-Case-Study.mp4"
          class="btn btn-secondary"
          target="_blank"
          >Demo</a
        > -->
        <a
          href="https://github.com/nafiul-nipu/brain-epilepsy-interface-react"
          class="btn btn-secondary"
          target="_blank"
          >Github</a
        >
      </div>
    </div>
  </div>
  <!-- 7 mEnergy -->
  <div class="col-lg-6 mb-3 d-flex align-items-stretch">
    <div class="card">
      <div class="imgContainer">
        <img
          src="./assets/projectImg/mEnergy.png"
          class="card-img-top"
          alt="..."
          id="theImage"
        />
        <div class="middle">
          <div class="theText">
            <a
              href="https://github.com/uic-evl/ApneaSarcopeniaHNC"
              target="_blank"
              class="btn btn-secondary"
              >Github</a
            >
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">mEnergy</h5>
        <p class="card-text">
          A multi-device mHealth platform for real-time monitoring of metabolic
          health in cancer patients using wearable and smart scale data.
          <a href="https://www.evl.uic.edu/pubs/2910" target="_blank"
            >More details about the project</a
          >.
          <br />
          <strong>Skills: </strong> HTML, CSS, JS, React.js, D3.js
        </p>
        <a
          href="../assets/video-demos/mEnergy.mp4"
          class="btn btn-secondary"
          target="_blank"
          >Demo</a
        >
      </div>
    </div>
  </div>
  <!-- 6 contrails-->
  <div class="col-lg-6 mb-3 d-flex align-items-stretch">
    <div class="card">
      <div class="imgContainer">
        <img
          src="./assets/projectImg/contrails-project.png"
          class="card-img-top"
          alt="..."
          id="theImage"
        />
        <div class="middle">
          <div class="theText">
            <a
              href="https://github.com/nafiul-nipu/Contrails"
              target="_blank"
              class="btn btn-secondary"
              >Github</a
            >
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Contrails Analysis and Detection</h5>
        <p class="card-text">
          A visual computing framework to analyze contrail ensemble data.
          <a href="https://www.evl.uic.edu/research/2469" target="_blank"
            >More details about the project</a
          >.
          <br />
          <strong>Skills: </strong> HTML, CSS, JS, React.js, D3.js, WebGL,
          Python, Flask
        </p>
        <a
          href="https://nafiul-nipu.github.io/Contrails/"
          class="btn btn-secondary"
          target="_blank"
          >Demo</a
        >
      </div>
    </div>
  </div>

  <!-- 7 hnc-->
  <div class="col-lg-6 mb-3 d-flex align-items-stretch">
    <div class="card">
      <div class="imgContainer">
        <img
          src="./assets/projectImg/hnc-predictor.png"
          class="card-img-top"
          alt="..."
          id="theImage"
        />
        <div class="middle">
          <div class="theText">
            <a
              href="https://github.com/uic-evl/hnc-predictor"
              class="btn btn-secondary"
              >Github</a
            >
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">HNC-Predictor</h5>
        <p class="card-text">
          A web-implementation of clinic-ready model-based risk stratification
          for head and neck cancer
          <br />
          <strong>Skills: </strong> HTML, CSS, React, D3.js, Python, Flask, R
        </p>
        <a
          href="https://uic-evl.github.io/hnc-predictor/"
          class="btn btn-secondary"
          target="_blank"
          >Demo</a
        >
      </div>
    </div>
  </div>

  <!-- 5 qubbd smarter-->
  <div class="col-lg-6 mb-3 d-flex align-items-stretch">
    <div class="card">
      <div class="imgContainer">
        <img
          src="./assets/projectImg/smarter.png"
          class="card-img-top"
          alt="..."
          id="theImage"
        />
        <div class="middle">
          <div class="theText">
            <a
              href="https://github.com/uic-evl/SMARTER"
              target="_blank"
              class="btn btn-secondary"
              >Github</a
            >
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">SMARTer Therapy Exploler</h5>
        <p class="card-text">
          A SMART therapy exploler for head and neck cancer patients.
          <a href="https://www.evl.uic.edu/research/2333" target="_blank"
            >More details about the project</a
          >.
          <br />
          <strong>Skills: </strong> HTML, CSS, JS, D3.js, Python, Flask, R
        </p>
        <a
          href="https://nafiul-nipu.github.io/SMARTER/"
          class="btn btn-secondary"
          target="_blank"
          >Demo</a
        >
      </div>
    </div>
  </div>
</div>
