<hr class="m-0" />
<!-- Publications - Conference, Journals, Poster, course projects-->
<section class="resume-section" id="publications">
  <div class="resume-section-content">
    <h2 class="mb-5">Publications</h2>
    <div class="container">
      <!-- journals -->
      <!-- <div class="row"></div> -->
      <!-- conference precedings -->
      <div class="row">
        <div class="subheading mb-3">Papers</div>
        <div>
          <ul class="fa-ul mb-0">
            <li>
              <p class="mb-0">
                <span class="fa-li"
                  ><i class="fas fa-caret-square-right"></i
                ></span>
                <strong>N. Nipu,</strong> L.V. Dijk, et al., "Lessons from the
                Development and Deployment of an Interactive Oncological Risk
                Estimator", VAHC 2025 (16th workshop on Visual Analytics in
                Healthcare), in conjunction with IEEE VIS 2025, Vienna, Austria,
                pp. 1-7, November 2nd, 2025.<br />
                <a
                  class="social-icons btn btn-secondary btn-sm active"
                  style="margin: 5px"
                  href="https://www.evl.uic.edu/documents/nafiul_hn_predictor_vahc.pdf"
                  target="_blank"
                  title="PDF"
                  ><i class="fa fa-file-pdf"></i>
                  <span>PDF</span>
                </a>
              </p>
            </li>

            <li>
              <p class="mb-0">
                <span class="fa-li"
                  ><i class="fas fa-caret-square-right"></i
                ></span>
                <strong>N. Nipu,</strong> A. Wentzel, et al., “mEnergy:
                Development of a Novel mHealth Multi-device Platform for Near
                Real-time Remote Assessment of Energy Disorders”, The 47th
                Annual International Conference of the IEEE Engineering in
                Medicine and Biology Society (EMBC), 2025, pp.1-7 <br />
                <a
                  class="social-icons btn btn-secondary btn-sm active"
                  style="margin: 5px"
                  href="https://www.evl.uic.edu/documents/menergy.pdf"
                  target="_blank"
                  title="PDF"
                  ><i class="fa fa-file-pdf"></i>
                  <span>PDF</span>
                </a>
              </p>
            </li>

            <li>
              <p class="mb-0">
                <span class="fa-li"
                  ><i class="fas fa-caret-square-right"></i
                ></span>
                G. Moreira, M. Hosseini, <strong>M.N.A. Nipu</strong>, M. Lage,
                et al., "The Urban Toolkit: A Grammar-based Framework for Urban
                Visual Analytics," IEEE Trans. Vis. and Comp. Graph., Oct. 2023,
                IEEE VIS 2023.<br />
                <a
                  class="social-icons btn btn-secondary btn-sm active"
                  style="margin: 5px"
                  href="https://www.evl.uic.edu/documents/gmoriera_utk-2.pdf"
                  target="_blank"
                  title="PDF"
                  ><i class="fa fa-file-pdf"></i>
                  <span>PDF</span>
                </a>
              </p>
            </li>

            <li>
              <p class="mb-0">
                <span class="fa-li"
                  ><i class="fas fa-caret-square-right"></i
                ></span>
                <strong>N. Nipu</strong>, C. Floricel, N. Naghashzadeh, R.
                Paoli, G. E. Marai, "Visual Analysis and Detection of Contrails
                in Aircraft Engine Simulations," IEEE Trans. Vis. and Comp.
                Graph., pp. 1-11, Jan. 2023, IEEE VIS 2022.<br />
                Note: Featured in
                <a
                  href="https://ieeexplore.ieee.org/abstract/document/10231022?casa_token=6vXFoLr3e30AAAAA:-C_8uh967q2WypWEz6ibcJ3NPhBZF0skdto6v-fUCgp6b5UF4JrCEGu61YUUbKxIJcdePgVA"
                  target="_blank"
                  >IEEE Magazine</a
                >
                and
                <a
                  href="https://cs.uic.edu/news-stories/doctoral-student-featured-in-ieee-computing-edge/"
                  target="_blank"
                  >UIC Newsletter</a
                ><br />
                <a
                  class="social-icons btn btn-secondary btn-sm active"
                  style="margin: 5px"
                  href="https://arxiv.org/pdf/2208.02321.pdf"
                  target="_blank"
                  title="PDF"
                  ><i class="fa fa-file-pdf"></i>
                  <span>PDF</span>
                </a>
              </p>
            </li>

            <li>
              <p class="mb-0">
                <span class="fa-li"
                  ><i class="fas fa-caret-square-right"></i
                ></span>
                L. V. van Dijk, A. S. R. Mohamed, S. Ahmed,
                <strong>N. Nipu</strong>, G. E. Marai et. al., "Head and Neck
                Cancer Predictive Risk Estimator to Determine Control and
                Therapeutic Outcomes of Radiotherapy (HNC-PREDICTOR):
                Development, international multi-institutional validation, and
                web-implementation of clinic-ready model-based risk
                stratification for head and neck cancer," European Journal of
                Cancer, 2022.<br />
                <a
                  class="social-icons btn btn-secondary btn-sm active"
                  style="margin: 5px"
                  href="https://reader.elsevier.com/reader/sd/pii/S095980492200805X?token=5AA48D74E2276E95AB280B857BAA895643A5A3D620158294C47590FA6281FF33797972FAB64C86FA7016E17995EA862D&originRegion=us-east-1&originCreation=20221104002349"
                  target="_blank"
                  title="PDF"
                  ><i class="fa fa-file-pdf"></i>
                  <span>PDF</span>
                </a>
              </p>
            </li>

            <li>
              <p class="mb-0">
                <span class="fa-li"
                  ><i class="fas fa-caret-square-right"></i
                ></span>
                C. Floricel, <strong>N. Nipu</strong>, A. Wentzel, M. Biggs, G.
                Canahuate, A.S.R. Mohamed, L. van Dijk, C.D. Fuller, G.E. Marai,
                "THALIS: Human-Machine Analysis of Longitudinal Symptoms in
                Cancer Therapy," IEEE Trans. Vis. and Comp. Graph., pp. 151-161,
                Jan. 2022, IEEE VIS 2021.<br />
                <a
                  class="social-icons btn btn-secondary btn-sm active"
                  style="margin: 5px"
                  href="https://arxiv.org/pdf/2108.02817.pdf"
                  target="_blank"
                  title="PDF"
                  ><i class="fa fa-file-pdf"></i>
                  <span>PDF</span>
                </a>
              </p>
            </li>

            <li>
              <p class="mb-0">
                <span class="fa-li"
                  ><i class="fas fa-caret-square-right"></i
                ></span>
                <strong>M. N. Alam Nipu</strong>, S. Talukder, M. S. Islam and
                A. Chakrabarty, "Human Identification Using WIFI Signal," 2018
                Joint 7th International Conference on Informatics, Electronics &
                Vision (ICIEV) and 2018 2nd International Conference on Imaging,
                Vision & Pattern Recognition (icIVPR), Kitakyushu, Japan, 2018,
                pp. 300-304.<br />
                <a
                  class="social-icons btn btn-secondary btn-sm active"
                  style="margin: 5px"
                  href="https://drive.google.com/file/d/1ScGxwBDiFp9xLA5Rc0tpA2EMezPQcroZ/view?usp=sharing"
                  target="_blank"
                  title="PDF"
                  ><i class="fa fa-file-pdf"></i>
                  <span>PDF</span>
                </a>
              </p>
            </li>
          </ul>
        </div>
      </div>

      <hr class="m-5" />

      <!-- posters -->
      <div class="row">
        <div class="col">
          <div class="subheading mb-3">Posters</div>
          <div>
            <ul class="fa-ul mb-0">
              <li>
                <p class="mb-0">
                  <span class="fa-li"
                    ><i class="fas fa-caret-square-right"></i
                  ></span>
                  <strong
                    >Parameter Analysis and Contrail Detection of Aircraft
                    Engine Simulations</strong
                  >
                  <br />
                  <strong>N. Nipu</strong>, C. Floricel, N. Naghashzadeh, R.
                  Paoli, G. E. Marai <br />
                  <em
                    >IEEE Symposium on Large Data Analysis and Visualization,
                    IEEE LDAV 2021</em
                  ><br />
                  <a
                    class="social-icons btn btn-secondary btn-sm active"
                    style="margin: 5px"
                    href="https://www.evl.uic.edu/documents/parameteranalysiscontrails.pdf"
                    target="_blank"
                  >
                    <span>Link</span>
                  </a>
                </p>
              </li>
              <li>
                <p class="mb-0">
                  <span class="fa-li"
                    ><i class="fas fa-caret-square-right"></i
                  ></span>
                  <strong
                    >Visualizing Symptom Development During Head and Neck Cancer
                    Treatmen</strong
                  >
                  <br />
                  C. Floricel, A. Wentzel, N. Kumar, <strong>N. Nipu</strong>,
                  G. Canahuate, L.V. Dijk, G.E. Marai <br />
                  <em>IEEE VIS 2020 Poster Session</em><br />
                  <a
                    class="social-icons btn btn-secondary btn-sm active"
                    style="margin: 5px"
                    href="https://www.evl.uic.edu/documents/cfloricel_vis_2020.pdf"
                    target="_blank"
                  >
                    <span>Link</span>
                  </a>
                </p>
              </li>
              <li>
                <p class="mb-0">
                  <span class="fa-li"
                    ><i class="fas fa-caret-square-right"></i
                  ></span>
                  <strong
                    >Identifying Similarities and Dissimilarities Between UIC
                    and MDACC RT Plan Data</strong
                  >
                  <br />
                  <strong>Md Nafiul Alam Nipu</strong>, Samujjwaal Dey, Sanjana
                  Srabanti Meem, Andrew Wentzel, Baher Elgohari , Michael
                  Spiotto , David Fuller, G. Elisabeta Marai <br />
                  <em
                    >Presented at TRIPODS Open House, Discovery Partners
                    Institute (DPI), Chicago, IL on January 17, 2020</em
                  ><br />
                  <a
                    class="social-icons btn btn-secondary btn-sm active"
                    style="margin: 5px"
                    href="https://drive.google.com/file/d/1HqIqBkDEhhdCu1bFjIjw0U7lxoWqD_Qf/view?usp=sharing"
                    target="_blank"
                  >
                    <span>Link</span>
                  </a>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
