    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Md Nafiul Alam Nipu",
        "alternateName": ["Nafiul Alam Nipu", "Nafiul Nipu"],
        "url": "https://nafiul-nipu.github.io/",
        "image": "https://nafiul-nipu.github.io/assets/img/profile2.jpg",
        "email": "mailto:mnipu2@uic.edu",
        "jobTitle": "PhD Candidate in Computer Science",
        "worksFor": {
          "@type": "Organization",
          "name": "University of Illinois Chicago"
        },
        "affiliation": {
          "@type": "Organization",
          "name": "Electronic Visualization Laboratory"
        },
        "sameAs": [
          "https://www.linkedin.com/in/mdnafiulnipu",
          "https://scholar.google.com/citations?user=qyIQUQsAAAAJ",
          "https://github.com/nafiul-nipu"
        ]
      }
    </script>
