      <hr class="m-0" />

      <section class="resume-section" id="service">
        <div class="resume-section-content">
          <div class="section-heading">
            <p class="section-kicker">Community</p>
            <h2>Service</h2>
          </div>

          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="info-panel">
                <h3>Volunteer Experiences</h3>
                <ul class="fa-ul mb-0">
                  <li>
                    <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                    Reviewer: IEEE PacificVis 2025, EuroVis 2025, IEEE VIS 2025
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                    Student Volunteer, IEEE VIS 2023, Melbourne, Australia
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                    Student Volunteer, IEEE VIS 2022, Oklahoma City, Oklahoma
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                    Student Volunteer, IEEE VIS 2021 Virtual Conference
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-caret-square-right"></i></span>
                    Associate General Secretary (2020-2021), Treasurer (2021 - 2023), Bangladeshi Students Association at UIC
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <div class="info-panel">
                <h3>Honors and Awards</h3>
                <ul class="fa-ul mb-0">
                  <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Dean's List in Spring 2017 for academic excellence, BRAC University - Jan 2017
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Vice Chancellor's List in Fall 2016 for academic excellence, BRAC University - Sep 2016
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Dean's List in Spring 2014 for academic excellence, BRAC University - Jan 2014
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Junior General Scholarship by Education Board, Bangladesh
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Primary Talent-Pool Scholarship by Education Board, Bangladesh
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
